*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white ;
    background-color: #000000;
}
header{
    background-image: url(./img/header2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
   
    width: 100%;
    height: 6%;
   display: flex;
   justify-content: space-between;
     margin: 1.5rem 0;
    padding: 0 5%;
     font-size: 10px;
    

}
.menu{
    width: 60%;
    display: flex;
    padding: 0 5%;
    gap: 25px;
   

}
.navegar{
    display: flex;
    gap: 10px;
}
.Apartado{
    align-items: center;
    gap: 8px;
    display: flex;
}

.Apartado h1{
    font-size: 10px;
    letter-spacing: 1px;
}
.Apartado img{
    width: 30px;
}


.usuario{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.usuario h1{
font-size: 10px;
letter-spacing: 2px;

}
.usuario img{
     width: 40px;
}




.contenido{
    width: 100%;
    position: relative;
    z-index: 1;
    height: 94%;
    gap: 5%;
    padding: 30px 5%;
    display: flex;
    justify-content: center;
    

}


.video{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 60%;
    z-index: 0;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.descripcion{
    position: relative;  
    z-index: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}