*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    padding: 1rem 5%;
    background-image: url(/img/fondo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    width: 70%;
    justify-content: space-between;
    display: flex;
    color: white;

}
.Apartado{
    align-items: center;
    gap: 15px;
    display: flex;
}
.Apartado h1{
    font-size: 10px;
}
.Apartado img{
    width: 30px;
}


.usuario{
    display: flex;
    align-items: center;
    gap: 20px;
}
.usuario h1{
font-size: 10px;

}
.usuario img{
     width: 40px;
}
