*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white ;
    background-color: #000000;
}
header{
    width: 100%;
    height: 120vh;
    background-image:  url(img/header1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
   
    width: 100%;
    height: 6%;
   display: flex;
   justify-content: space-between;
     margin: 1.5rem 0;
    padding: 0 5%;
     font-size: 10px;
    

}
.menu{
    width: 60%;
    display: flex;
    padding: 0 5%;
    gap: 25px;
   

}
.navegar{
    display: flex;
    gap: 10px;
}
.Apartado{
    align-items: center;
    gap: 8px;
    display: flex;
}
.Apartado h1{
    font-size: 10px;
    letter-spacing: 1px;
}
.Apartado img{
    width: 30px;
}


.usuario{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.usuario h1{
font-size: 10px;
letter-spacing: 2px;

}
.usuario img{
     width: 40px;
}






.Titulo {
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
   
    


}
.nombrecomic{
    font-size: 55px;
    padding: 40px 0 20px 0;
    
}
.Titulo p{
    max-width: 60%;
    padding-bottom: 50px;
}
.sinopsis{
    font-size: 20px;
    width: 50%;
}
.datos{
    padding-top: 10px;
display: flex;
gap: 30px;

}
.creditos{
    display: flex;
    gap: 15px;
}








.escenas{
    padding: 1rem 5%;
    width: 100%;
    height: 30vh;
    color: white;
}
.Genero{
    padding: 40px 5%;
    text-align: start;
}
.miniaturas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.escena{
    width: 180px;
    height: 140px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    background-size: cover;
}

.fondo-tarjeta{
    background-image: url(img/rey.jpeg)
}




