*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white ;
    background-color: #000000;
}
header{
    width: 100%;
    height: 120vh;
    background-image:  url(img/header1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.442);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: white;
     padding: 1.5rem 5%;
     font-size: 10px;
    

}
.menu{
    width: 70%;
    justify-content: space-between;
    display: flex;
   

}
.Apartado{
    align-items: center;
    gap: 8px;
    display: flex;
}
.Apartado h1{
    font-size: 10px;
    letter-spacing: 1px;
}
.Apartado img{
    width: 30px;
}


.usuario{
    display: flex;
    align-items: center;
    gap: 20px;
}
.usuario h1{
font-size: 10px;
letter-spacing: 2px;

}
.usuario img{
     width: 40px;
}






.Titulo {
    width: 100%;
    padding: 0 5%;
    height: 45%;
    display: flex;
    flex-direction: column;
   
    


}
.nombrecomic{
    font-size: 55px;
    padding: 20px 0;
    
}
.Titulo p{
    max-width: 60%;
    padding-bottom: 50px;
}
.sinopsis{
    font-size: 20px;
    width: 50%;
}
.datos{
    padding-top: 10px;
display: flex;

}
.creditos{
    display: flex;
    gap: 15px;
}








.catalogo{
    padding: 1rem 5%;
    width: 100%;
    height: 30vh;
    color: white;
}
.Genero{
    padding: 20px 0;
}
.peliculas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.peli{
    width: 18%;
    height: 140px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
}
.ecena1{
    background-image: url(img/header1\ 3.png);
    background-size: cover;
    background-position: center;
}
.ecena2{
    background-image: url(img/imagen.png);
    background-size: cover;
    background-position: center;
}
.ecena3{
    background-image: url(img/imagen\ \(1\).png);
    background-size: cover;
    background-position: center;
}
.ecena4{
    background-image: url(img/ecena4.png);
    background-size: cover;
    background-position: center;
}
.ecena5{
    background-image: url(img/ecena5.png);
    background-size: cover;
    background-position: center;
}


